body {
  background-color: #9a2222;
  color: white;
  margin: 1em;
  font: 32px 'century Gothic', Futura, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2em;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.box {
  background-color: black;
  max-width: fit-content;
  margin: 4em;
}

.result {
  background-color: #d6a6a6;
  color: white;
  border: 1px solid;
  padding: auto;
  font-size: 1em;
  text-align: center;
  width: auto;
  height: 3em;
}

.square {
  background-color: #3d0d0d;
  color: white;
  border: 1px solid;
  padding: auto;
  font-size: 1em;
  text-align: center;
  width: 100px;
  height: 3em;
}

.squareL {
  background-color: #3d0d0d;
  color: white;
  border: 1px solid;
  padding: auto;
  font-size: 1em;
  text-align: center;
  width: 202px;
  height: 3em;
}

.button {
  font-size: 2em;
  background-color: inherit;
  border: none;
  color: white;
}
